@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle_nav:checked ~ div #hamburger #line {
  @apply rotate-45 translate-y-1.5;
}

#toggle_nav:checked ~ div #hamburger #line2 {
  @apply -rotate-45 -translate-y-1;
}

input.defaultCheckbox::before {
  content: url(../public/assets/svg/checked.svg);
  color: white;
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}

.glass-morph {
  /* https://tailwindcss-glassmorphism.vercel.app/ */
  @apply bg-gray-800  bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-90;
}

@layer components {
  /* https://dev.to/derick1530/how-to-create-scrollable-element-in-tailwind-without-a-scrollbar-4mbd */
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-white rounded-full;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-blue-500 to-navy-400 rounded;
  }
}
