<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047836833789-22djtpknalh9iauk8176m296qh2rh51c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047836833789-22djtpknalh9iauk8176m296qh2rh51c</string>
	<key>API_KEY</key>
	<string>AIzaSyB2pm6s5zHJmUAWT-tR1jXaDDNqUQ95xEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1047836833789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>wtl-cms-saas</string>
	<key>STORAGE_BUCKET</key>
	<string>wtl-cms-saas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047836833789:ios:d9f5c35f7816e7df064b94</string>
</dict>
</plist>